/* Todos los elementos de la pagina */
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
/* Todos los parrafos de la pagina */
p {
  color: #555;
}
/* Todos los párrafos contenidos en #primero */
#primero p {
  color: #336699;
}
/* Todos los enlaces la pagina */
a {
    color: #cc3300;
}
/* Los elementos "em" contenidos en #primero */
#primero em {
    background: #ffffcc;
    padding: 0.1em;
}
/* Todos los elementos "em" de clase "especial" en toda la pagina */
em.especial {
    background: #ffcc99;
    border: 1px solid #ff9900;
    padding: 0.1em;
}
/* Elementos "span" contenidos en .normal */
.normal span {
    font-weight: bold;
}
.menu img {
  width: 5px;
  height: 5px;
}
