<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
    <title>Document</title>
</head>

<body>
    <div id="my-app">
        <b>ejercicio 1</b> 
        <!--Iterar array con index:  Muestra la nota de cada estudiante i muestra el indice del array:  -->
    <ul>
        <li v-for="(student, index) in students" :key="index">
            {{index}} - {{ student.name }} - {{student.note}}
        </li>
    </ul>

       <b>ejercicio 2</b> 
       <!-- Acceder a la propiedad del estudiante 0,  -->
       <p>  {{ students[i].name }} - {{student.note}}   </p>

       <b>ejercicio 3</b> 
       <!-- Iterar un objeto con key: Muestra todos los atributos de student -->
       <p v-for="(item, key) in student" >
        {{ key}} - {{item}}
       </p>

       <b>ejercicio 4</b> 
       <!-- Iterar un rango: Itera la variable i hasta 10  -->
       <div>
          <p v-for="i in 10">
            {{ i }}

          </p>
       </div>

       <b>ejercicio 5</b> 
       <!-- v-for con v-if: Muestra todos los estudiantes con nota > 5 -->
       <ul>
        <li v-for="(student, index) in students" :key="index" v-if="student.note >5">
            {{ student.name }} - {{student.note}}
        </li>
    </ul>
    </div>
    
    <script>
        const app = new Vue({
            el: '#my-app',

            data() {
                return {
                    i: 0,
                    students: [
                        { name: 'Noe', note: 10 },
                        { name: 'Manu', note: 10 },
                        { name: 'Belén', note: 5 }
                    ],
                    student: {
                        name: 'Carlos',
                        lastname: 'Rodriguez',
                        note: 10
                    }
                }
            },
        })
    </script>
</body>

</html>