<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="goal">Goal</label>
        <input type="text" id="goal" v-model="enteredValue" />
        <button v-on:click="addGoal">Add Goal</button>
        <ul>
        <li v-for="(item, index) in goal" :key="index">
          <!-- //Renderitza en un <ul> el contingut del array goals. -->
          {{ item }}
      </li>
      </ul>
      </div>

    </div>
    <script src="app.js"></script>
  </body>
</html>
