<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <title>1e component VUE</title>
  </head>

  <body>
    <div id="app"></div>

    <template id="ejemplo">
      <div>
        <button @click="toggleMostrar">Mostrar/Ocultar</button>
        <br>
        <div v-if="mostrar">
          <b>{{ mensaje }}</b>
          <img :src="imagen"/>
          <p v-for="(item, index) in cursos" :key="index">
            <a v-bind:href="item.url">
            {{ item.name }}</a>
            </p>
          </div>
        <p
          v-else
          style="
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
          "
        >
          Ahora está ocultado
        </p>
        <!-- //1. Mostra tots el noms dels cursos en una llista. 
          2. Afegeix els links a cadascun del cursos. 
        3. Al donar click al botó: Mostra/oculta tot el contingut.-->
       
      </div>
    </template>

    <!--OJO això ha d'estar aquí al final -->
    <script src="js/javascript.js"></script>
  </body>
</html>
