* {
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
    font-size: 12pt;
}
a {
    text-decoration: none;
    color: #694E4E;
}
img {
    width: 100%;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    flex-flow: column nowrap;
}
    .header {
    display: flex;
    flex-flow: column nowrap;
    }
        .menu {
           background-color: #E9DAC1  ; 
           display: flex;
           flex-flow: row nowrap;
           align-items: center;
        }
            .logo {
                flex: 1 1 auto;
            }
                .logo img {
                    width: 60%;
                }
            .nav {
                flex: 4 1 auto;
            }
                .ul1 {
                    display: flex;
                }
                .li1 {
                    list-style: none;
                }
                .li1 a {
                    display: block;
                    padding: 8px;
                }
                .li1 a:hover {
                    text-decoration: underline;
                }
            .social {
                display: flex;
                flex: 1 1 auto;
                align-content: center;
            }
        .slide {
            margin: 0px;
            padding: 0px;
        }
        .slide a {
            display: block;
            height: 400px;
            background-image: url("../img/Imagen-fondo.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: grid;
            place-content: center;
        }
         .slide h1 { 
             color: white;   
                
                    }
    .section {
        display: flex;
        flex-direction: row;
     }
        .products {
            flex: 3 1 auto;
            display: flex;
            flex-flow: row wrap;
            margin: 0px;
            padding: 0px;
            width: 100%;
        }
            .article {
                flex: 1 1 40%;
                display: flex;
                flex-flow: row wrap;
            }
                .articleimg {
                    width: 100%;
                    border: white solid 2px;
                }
                .articletxt {
                    width: 100%;
                    border: white solid 2px;
                }
                .articleboton {
                    display: flex;
                    flex-flow: row nowrap;
                   justify-content: space-between;
                }
                .button {
                    background: #694E4E;
                    font-family: lora;
                    color: white;
                    border-radius: 5px;
                }
            .navegation {
                flex: 1 1 100%;
                text-transform: uppercase;
                text-align: center;
            }
        .aside {
            flex: 1 1 auto;
            margin: 0px;
            padding: 0px;
        }
                .banner {
                    width: 100%;
                 }
    .footer {
        display: flex;
        justify-content: center;
        background: #E9DAC1;
        width: 100%;
        margin: 0px;
        padding: 50px;
    }
        .footer1 {
            width: 100%;
        }
        .footer1 li {
            list-style: none;
        }
@media screen and (max-width:768px) {
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .ul1 {
        display: flex;
        flex-direction: column;
    }
    .aside {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav {
        width: 100%;
    }
    .social {
        width: 100%;
    }
    .products {
        flex-direction: column;
    }  
    .footer {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 420px){
    .products {
        flex-direction: column;
    }
    .banner {
        display: flex;
        flex-direction: column;
    }
    .ul1 {
        display: flex;
        flex-direction: column;
    }
}